---
security:
  basic:
    enabled: false

management:
   security:
     enabled: false
eureka:
    client:
        service-url:
            defaultZone: MarykayDemo-20Sep-4:06pm
---
message: Hello World 2

spring:
    profiles: cloud
    application:
        name: ${vcap.application.application_name:atomicnumproducer}
        
mk_app:
    key1: value1
    url: mk.io
    


---
spring:
    profiles: dev
mk_app:
    key1: value1
    url: mk.io
    
    
---
spring:
    profiles: staging
mk_app:
    hintestkey: hintestvalue
    s3_accesskey: AXXXXXXX
    s3_secretkey: ASxxxxxxx
